.bodyPage{
  display: flex;
}

.container{
  flex: 1;

  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.leaderBoardContainer > div:first-child{
  display: flex;
  justify-content: space-between;

  margin-top: 1.5rem;
}

.leaderBoardContainer > div:first-child > div{
  display: flex;
  
  color: var(--text);
  font-weight: 400;
  
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.leaderBoardContainer > div:first-child > div:last-child > span:last-child{
  margin-left: 5rem;
}
